@model WebApplication_Books.Models.BookViewModel

@{
    ViewData["Title"] = "New book";
}

<div class="text-center">
    <h1 class="display-4">New book</h1>
</div>

<div class="row m-t-20">
    <div class="col-md-6">
        <form method="post" asp-controller="Books" asp-action="CreateBook">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter a book name" asp-for="Title" />
            </div>
            <div class="form-group">
                <input type="number" step="0.01" class="form-control" placeholder="Price" asp-for="Price" />
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Quantity" asp-for="Count" />
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Create book" />
                <a class="btn btn-primary shadow" href="/Books/Books">Back to "List of books"</a>
            </div>

        </form>
    </div>
</div>