@model IEnumerable<WebApplication_Books.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>We have <b id="bookCount">@Model.Count()</b> books already</p>
</div>

@section Scripts
{
    <script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>

    <script src="~/js/indexNotification.js"></script>
}
